<!--
  Generated template for the ZonaverdeListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="corYouSustainable">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Zona Verde</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card *ngFor="let zona of zonas" (click)="zonaVerdeDetail(zona)">
      <ion-card-header>
        {{zona.nome}}
      </ion-card-header>
        <br />
      <ion-card-content>
        {{zona.descricao}}
      </ion-card-content>
    </ion-card>

    <ion-fab bottom right>
    <!--<ion-fab *ngIf="usuario" bottom right>-->
      <button ion-fab color="corYouSustainable" (click)="newZona()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
