<!--
  Generated template for the UsuarioListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="corYouSustainable">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Área: {{area.nome}}</ion-title>
  </ion-navbar>

  <ion-content padding>
    <ion-card *ngFor="let usuario of usuarios">
      <ion-card-header>
        {{usuario.nome}}
      </ion-card-header>
        <br />
      <ion-card-content>
        {{usuario.email}}
      </ion-card-content>
    </ion-card>

   <ion-fab bottom right>
    <!--<ion-fab *ngIf="usuario" bottom right>-->
      <button ion-fab color="corYouSustainable" (click)="newUser()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-content>

</ion-content>
